@import "../base/animations";

.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        transition: all .2s;
        border-radius: 3px;
        animation: moveInBottom 1s ease-out;
        
        // Change for the <button> element
        border: none;
        cursor: pointer;
    }


    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--blue {
        background: linear-gradient($color-blue-dark, $color-blue-light, $color-blue-dark);
        color: $color-white;
        width: 16rem;
        border: 1px solid $color-btn-blue-border;
        box-shadow: 0 4px 0 darken($color-btn-blue-shadow, 10%);
    }

    &--orange {
        background-color: $color-primary;
        color: $color-white;
        border: 1px solid $color-btn-orange-border;
        box-shadow: 0 4px 2px darken($color-btn-orange-shadow, 10%);
    }

    &--white {
        background-color: $color-grey-light-1;
        color: $color-primary;
        width: 21rem;
        border: 1px solid $color-btn-white-border;
        box-shadow: 0 4px 2px darken($color-btn-white-shadow, 10%);
    }
}