// Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #e54916;
$color-primary-light: #e98426;
$color-primary-dark: #d2611c;
$color-primary-text: #842f0a;
$color-orange-text: #eea32f;
$color-text-shadow: #d30900;
$color-line: #523e40;
$color-brown: #3c3a3b;

$color-grey-light-1: #f8f8f8;
$color-grey-light-2: #ededed;
$color-grey-light-3: #ebebeb;
$color-grey-light-4: #e5e2e3;

$color-grey-text: #4b4b4b;
$color-grey-light-text: #aaaaaa;

$color-blue-light: #29489f;
$color-blue-dark: #2e4787;
$color-blue-text: #2d478a;

// Button colors
$color-btn-blue-border: #3b455d;
$color-btn-blue-shadow: #2b4176;
$color-btn-orange-border: #c3400d;
$color-btn-orange-shadow: #c53e12;
$color-btn-white-border: #d3d3d3;
$color-btn-white-shadow: #e0e0e0;

// Grid
$grid-width: 94rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;
$gutter-vertical-small: 5rem;

// Font sizes
$default-font-size: 1.6rem;