/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where normal styles apply

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}

.container {
  max-width: 94rem;
  margin: 0 auto;
}

.line {
  height: 5px;
  width: 100%;
  background-color: #523e40;
}

.horizontal-line-light {
  width: 100%;
  height: 3px;
  background-color: #e98426;
  position: absolute;
  bottom: 21.5%;
  z-index: 0;
}
@media only screen and (max-width: 75em) {
  .horizontal-line-light {
    display: none;
  }
}
@media only screen and (max-width: 37.5em) {
  .horizontal-line-light {
    display: none;
  }
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem !important;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes trackingInExpand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  border-radius: 3px;
  animation: moveInBottom 1s ease-out;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--blue {
  background: linear-gradient(#2e4787, #29489f, #2e4787);
  color: #fff;
  width: 16rem;
  border: 1px solid #3b455d;
  box-shadow: 0 4px 0 #1d2c51;
}
.btn--orange {
  background-color: #e54916;
  color: #fff;
  border: 1px solid #c3400d;
  box-shadow: 0 4px 2px #962f0e;
}
.btn--white {
  background-color: #f8f8f8;
  color: #e54916;
  width: 21rem;
  border: 1px solid #d3d3d3;
  box-shadow: 0 4px 2px #c7c7c7;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes trackingInExpand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.heading-primary {
  font-size: 7rem;
  margin-bottom: 2.3rem;
  text-shadow: 0.7px 2px 2px #eea32f;
  color: #842f0a;
  font-weight: 300;
  animation: moveInLeft 1s ease-out;
}
@media only screen and (max-width: 75em) {
  .heading-primary {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-primary {
    font-size: 5.4rem;
  }
}

.heading-secondary {
  font-size: 5rem;
  font-weight: 100;
  color: #2d478a;
  animation: trackingInExpand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media only screen and (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-secondary {
    font-size: 4.2rem;
  }
}

.heading-tertiary {
  font-size: 4rem;
  font-weight: 100;
  color: #2d478a;
  animation: trackingInExpand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media only screen and (max-width: 56.25em) {
  .heading-tertiary {
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-tertiary {
    font-size: 4rem;
  }
}

.paragraph-header {
  font-size: 1.8rem;
  color: #fff;
  text-shadow: 0.7px 1px 2px #d30900;
  line-height: 3rem;
  margin-bottom: 4.5rem;
  animation: moveInRight 1s ease-out;
}
@media only screen and (max-width: 75em) {
  .paragraph-header {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .paragraph-header {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .paragraph-header {
    width: 100%;
    margin: 2rem 0;
  }
}

.paragraph {
  color: #4b4b4b;
}

.header {
  border-top: 4px solid #d2611c;
  border-bottom: 1px solid #523e40;
  padding: 6rem 0 3.4rem 0;
  background-image: linear-gradient(to bottom, #e54916, #e98426 25%, #e98426 25%, #e54916);
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 75em) {
  .header {
    padding: 7rem 3rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .header {
    padding: 7rem 6rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    padding: 5rem 2.5rem;
  }
}
.header__text-box {
  width: 75rem;
}
@media only screen and (max-width: 56.25em) {
  .header__text-box {
    width: 100%;
    margin-top: 10rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__text-box {
    width: 100%;
    text-align: center;
  }
}
.header__portraits {
  margin-top: 9.9rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8rem;
}
@media only screen and (max-width: 75em) {
  .header__portraits {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__portraits {
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__portraits {
    justify-content: space-around;
  }
}
.header__portraits-single {
  height: 14rem;
  width: 14rem;
  background-color: #3c3a3b;
  border-radius: 5px;
  position: relative;
  z-index: 100;
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.65);
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.65);
}
@media only screen and (max-width: 75em) {
  .header__portraits-single {
    margin-bottom: 5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media only screen and (max-width: 961px) {
  .header__portraits-single {
    width: 15%;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__portraits-single {
    margin-bottom: 5rem;
    margin-left: 5px;
    margin-right: 5px;
    width: calc(50% - 20px);
  }
}
@media only screen and (max-width: 37.5em) {
  .header__portraits-single {
    width: 100%;
  }
}
.header__portraits-text {
  position: absolute;
  color: #fff;
  top: 105%;
}

.navigation {
  color: #fff;
  text-shadow: 0.7px 1px 2px #d30900;
  margin-bottom: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .navigation {
    width: 100%;
  }
}
@media only screen and (max-width: 56.25em) {
  .navigation {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.navigation__logo {
  font-size: 3.5rem;
  font-weight: 300;
  display: inline-block;
}
.navigation__logo span {
  font-weight: 700;
}
.navigation__nav {
  margin-top: 1.3rem;
}
@media only screen and (max-width: 37.5em) {
  .navigation__nav {
    display: none;
  }
}
.navigation__list {
  list-style: none;
}
.navigation__item {
  font-size: 2rem;
  display: inline-block;
}
.navigation__item:not(:last-child) {
  margin-right: 3.4rem;
}
@media only screen and (max-width: 56.25em) {
  .navigation__item:not(:last-child) {
    margin-right: 1rem;
  }
}
.navigation__link {
  text-decoration: none;
  color: #fff;
}

.footer {
  padding: 5rem 0 13rem 0;
  border-top: 1px solid #523e40;
  border-bottom: 4px solid #d2611c;
  background-image: linear-gradient(to right, #e54916, #e98426, #e54916);
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 75em) {
  .footer__container {
    justify-content: space-around;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__container {
    text-align: center;
    flex-direction: column;
  }
}
.footer__col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@media only screen and (max-width: 75em) {
  .footer__col-1 {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__col-1 {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__col-1 {
    margin-bottom: 5rem;
  }
}
.footer__col-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
@media only screen and (max-width: 75em) {
  .footer__col-2 {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 56.25em) {
  .footer__col-2 {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.footer__links {
  display: inline-block;
  margin-bottom: 2rem;
}
.footer__link {
  color: #fff;
  text-shadow: 0.7px 1px 2px #d30900;
  text-decoration: none;
}
.footer__link:not(:last-child) {
  margin-right: 3.1rem;
}
.footer__text {
  font-size: 2rem;
  text-shadow: 0.7px 2px 2px #eea32f;
  color: #842f0a;
  font-weight: 300;
}
@media only screen and (max-width: 56.25em) {
  .footer__text {
    font-size: 2.5rem;
    text-align: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .footer__text {
    font-size: 2.3rem;
  }
}
.footer__paragraphs {
  margin-bottom: 0.9rem;
}
.footer p {
  color: #fff;
  text-shadow: 0.7px 1px 2px #d30900;
  display: inline-block;
  font-size: 1.4rem;
}
.footer p:not(:last-child) {
  margin-right: 1.1rem;
}
.footer__logo {
  font-size: 3.7rem;
  font-weight: 300;
  text-shadow: 0.7px 2px 2px #eea32f;
  color: #842f0a;
  font-weight: 300;
}
.footer__logo span {
  font-weight: 700;
}

.nav-mobile {
  display: none;
}
@media only screen and (max-width: 37.5em) {
  .nav-mobile {
    display: block;
  }
}
.nav-mobile__checkbox {
  display: none;
}
.nav-mobile__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 3rem;
  right: 1rem;
  border-radius: 3px;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.nav-mobile__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 3.5rem;
  right: 2rem;
  background-image: radial-gradient(#e54916, #e98426, #e54916);
  z-index: 1000;
}
.nav-mobile__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
}
.nav-mobile__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.nav-mobile__item {
  margin: 1rem;
}
.nav-mobile__link:link, .nav-mobile__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background-size: 220%;
  transition: all 0.4s;
}
.nav-mobile__checkbox:checked ~ .nav-mobile__background {
  transform: scale(80);
}
.nav-mobile__checkbox:checked ~ .nav-mobile__nav {
  opacity: 1;
  width: 100%;
}
.nav-mobile__icon {
  position: relative;
  margin-top: 3.5rem;
}
.nav-mobile__icon, .nav-mobile__icon::before, .nav-mobile__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #4b4b4b;
  display: inline-block;
}
.nav-mobile__icon::before, .nav-mobile__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.nav-mobile__icon::before {
  top: -0.8rem;
}
.nav-mobile__icon::after {
  top: 0.8rem;
}
.nav-mobile__checkbox:checked + .nav-mobile__button .nav-mobile__icon {
  background-color: transparent;
}
.nav-mobile__checkbox:checked + .nav-mobile__button .nav-mobile__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav-mobile__checkbox:checked + .nav-mobile__button .nav-mobile__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/*# sourceMappingURL=main.css.map */
